.before-footer-cta {
	background: linear-gradient(180deg, var(--dark_red) 0%, var(--dark) 100%);
	background: linear-gradient(180deg, #93150c 0%, #000000 80%);
	background: linear-gradient(180deg, var(--dark_red) 0%, var(--dark) 100%);
	background: linear-gradient(180deg, #941713 0%, #000000 80%);

}
